@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.enemy-card-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}
.enemy-card-container .btn {
  position: absolute;
  right: 4vw;
  top: 25px;
  height: 15vh;
  width: 15vh;
}
.enemy-card-container .btn a {
  font-family: "Audiowide", cursive;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  z-index: 1;
  transition: 0.5s;
}
.enemy-card-container .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}
.enemy-card-container .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 80px;
  width: 40px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.enemy-card-container .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  height: 80px;
  width: 40px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.enemy-card-container .enemy-card-table {
  padding-top: 10px;
  position: relative;
  display: grid;
  height: 100%;
  gap: 5px 15px;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: repeat(6, 6vw);
}
.enemy-card-container .card {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.enemy-card-container .card span {
  position: absolute;
  transform: rotate(180deg);
  left: 0;
  top: 0;
  width: 100%;
  height: 20%;
  z-index: 10;
  text-align: center;
  font-size: calc(0.4em + 1vmin);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.enemy-card-container .card .fight-card {
  position: relative;
  transform: rotate(0deg);
  width: 90%;
  height: 90%;
  transition: ease 2s;
  opacity: 1;
}
.enemy-card-container .card .special-card {
  position: relative;
  transform: rotate(0deg);
  width: 90%;
  height: 90%;
  z-index: 1;
  opacity: 1;
}
.enemy-card-container .card .pulse {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(60, 125, 150, 0.48);
  opacity: 0.8;
  -webkit-animation: pulseAnimation 4s ease-out infinite;
  animation: pulseAnimation 4s ease-out infinite;
  visibility: visible;
}
.enemy-card-container .card #a {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.enemy-card-container .card #b {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.enemy-card-container .card #c {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.enemy-card-container .card #d {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.enemy-card-container .card #darthmaul {
  pointer-events: none;
}
.enemy-card-container .card .sword {
  cursor: pointer;
  transform: rotate(180deg);
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}
.enemy-card-container .card img[name=""] {
  opacity: 0;
  pointer-events: none;
}
.enemy-card-container .card img[name="special"] {
  filter: saturate(0.5) hue-rotate(240deg);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.enemy-card-container .extra-space {
  position: absolute;
  top: 25px;
  left: 4vw;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(1, calc(5vw + 10px));
}
.enemy-card-container .extra-space .deck,
.enemy-card-container .extra-space .trash {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1.1;
  background-color: rgba(0, 0, 0, 0.3);
}
.enemy-card-container .extra-space .deck img,
.enemy-card-container .extra-space .trash img {
  width: 95%;
  height: 95%;
}
.enemy-card-container .extra-space .deck img[src=""],
.enemy-card-container .extra-space .trash img[src=""] {
  display: none;
}

.enemy-hand-container {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: -3vh;
  width: 100%;
  perspective: 200px;
}
.enemy-hand-container .enemy-cards {
  transform: rotateX(10deg) rotateY(0deg);
  transform-style: preserve-3d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enemy-hand-container .enemy-cards .hand {
  z-index: 12;
  height: 140px;
  width: 130px;
  background-color: rgb(149, 16, 16);
  transform: translateY(60px);
  transition: all 1s;
  margin-left: 10px;
}
.enemy-hand-container .enemy-cards .hand img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.enemy-hand-container .enemy-cards .hand img[src=""] {
  display: none;
}

@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
} /*# sourceMappingURL=Enemytable.css.map */
